.brandsSection, .categoriesSection, .colorsSection {
    margin-bottom: 50px;
}

.brandsSectionTitle, .colorsSectionTitle, .categoriesSectionTitle, .priceSliderSectionTitle {
    font-size: 16px;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: 30px;
    color: #242424;
    line-height: 1.3;
    font-weight: 400;
 }

 .categoriesItem {
    text-transform: capitalize;
    font-size: 16px;
    padding: 15px 0 15px 20px;
    display: block;
    font-weight: 400;
    color: #959595;
    background-color: transparent;
    outline: 0 solid transparent;
    transition: all 500ms ease 0s;
    text-decoration: none;
    cursor: pointer;
}

.categoriesItem:hover{
    color: #fbb710;
}

.activeCategory {
    color: #fbb710;
    font-weight: bold;
}

.brandsItem {
    margin-bottom: 25px;
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.brandLabel {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 16px;
    color: #959595;
    font-weight: 400;
    cursor: pointer;
    margin:0;
    display: inline-block;
}

.brandLabel:hover {
    color:#fbb710
}

.brandsItem .checkbox {
    position: absolute;
    margin-left: -1.25rem;
}

.brandsItem .checkbox input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
.brandsItem .checkbox input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
}

.colorsSectionTitle {
    font-size: 16px;
    text-transform: capitalize;
    color: #242424;
    margin-bottom: 30px;
    color: #242424;
    line-height: 1.3;
    font-weight: 400;
 }
.colorsList {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.colorsItem {
    display: inline-block;    
    cursor: pointer;

}

.colorCircle {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.colorList .checkbox {
    display: none; 
}

.colorCircle:hover {
    border-color: #333; /* Zmiana obramowania na hover */
}
