.quantityControl {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fa;
}

.quantityControl p {
  margin: 0;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  background-color: #f5f7fa;
  color: #242424;
  font-size: 0.875rem;
}

.qtyBtn {
  width: 32px;
  height: 40px;
  background-color: #f5f7fa;
  border: none;
  cursor: pointer;
}
.removeBtn {
  width: 32px;
  height: 40px;
  background-color: #f5f7fa;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0 0 0 0px;
}

.qtyIcon {
  width: 10px;
}

.qtyInput {
  text-align: center;
  background-color: #f5f7fa;
  height: 40px;
  width: 20px;
  border: none;
  appearance: textfield;
  color: #242424;
  font-size: 0.875rem;
  line-height: 40px;
}

.qtyInput::-webkit-outer-spin-button,
.qtyInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

