.shopTopRow {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -15px;
}

.shopTopCol {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.shopTopWrapper {
    display: flex;
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
    justify-content: flex-end;
    gap: 1rem;  
}

.sortSection {
    display: flex;
    background-color: #f5f7fa;
}


.sortSection label {
    margin-bottom: 0;
    font-size: 14px;
    height: 40px;
    background-color: #f5f7fa;
    line-height: 40px;
    color: #959595;
    padding-left: 15px;
}

.sortSection .select {
    background-color: #f5f7fa;
    border: none;
    height: 40px;
    min-width: 80px;
    text-align: center;
    outline: none;
}
.sortSection .select option{
    font-size: 12px;
    font-weight: 400;
    color: #242424;
    text-transform: uppercase;
    background-color: #f5f7fa;
    min-width: 60px; 
}