/* Top row layout */
.shopTopRow {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -1rem;
}

.shopTopCol {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding-inline: 1rem;
}

/* Controls wrapper */
.shopTopWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  margin-bottom: 2.5rem;
  gap: 1rem;
}

/* Sort controls */
.sortSection {
  display: flex;
  gap: 1rem;
}

.sortByDate, .sortByView {
  display: flex;
}

.sortByDate, .sortByView label {
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 1rem;
  margin: 0;
  font-size: 0.875rem;
  color: #959595;
  background-color: #f5f7fa;
}

/* Select dropdown */
.sortByDate select, .sortByView select {
    background-color: #f5f7fa;
    border: none;
    height: 40px;
    min-width: 80px;
    text-align: center;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height:40px;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
    font-family: inherit;
    user-select: none;
    white-space: nowrap;
}

.sortByDate option, .sortByView option{
    font-size: 12px;
    font-weight: 400;
    color: #242424;
    text-transform: uppercase;
    background-color: #f5f7fa;
    min-width: 60px; 
}

.totalProducts {
  display:flex;
  align-items: center;
}
.totalProducts p {
    font-size: 14px;
    color: #242424;
    text-transform: uppercase;
    text-align: center;
}
