/* Cart empty state */
.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.emptyCart h2 {
  margin: 2rem 0;
}

.bagIcon {
  font-size: 6.25rem;
}

/* Cart layout */
.cartTableArea {
  margin: 8rem auto 0;
  padding: 3.75rem 0;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Product columns */
.cartProductImage {
  width: 25%;
}

.col8 {
  flex: 0 0 67%;
  padding: 0 1rem;
}

.col4 {
  flex: 0 0 33%;
  padding: 0 1rem;
}

/* Cart title */
.cartTitle {
  margin: 2rem 0;
}

.cartTitle h2 {
  font-size: 1.875rem;
  color: #242424;
}

/* Table styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.table img {
  max-width: 100%;
  height: auto;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #f5f7fa;
  font-size: 0.75rem;
  color: #242424;
  font-weight: 400;
  text-transform: capitalize;
}

.table td h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #242424;
  line-height: 1.3;
  margin: 0;
}

/* Cart summary */
.cartSummary {
  background-color: #f5f7fa;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.cartSummary h5 {
  font-size: 1.125rem;
  color: #242424;
  line-height: 1.3;
}

.summaryTable {
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.summaryTable li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

/* Button styles */
.checkoutBtn {
  margin-top: 4rem;
}

.checkoutBtn  a{
  display: block;
  width: 100%;
  min-height: 3.5rem;
  padding: 0 1rem;
  background-color: #fbb710;
  color: #ffffff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: all 0.3s ease;
  line-height: 55px;
}
