.navContainer {
  width: 170px;
  padding-left: 60px;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
   position: relative;
   padding: 0 0 0 20px;
}

.menuLink {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 20px 0;
  display: block;
  line-height: 0.9;
  color: #131212;
  font-weight: normal;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-decoration: none;
  outline: 0 solid transparent;
}

.menuLink:hover {
  color: #FBBF24;
}

.menuLink.active .activeIndicator{
  width: 40px;
}

.activeIndicator {
  position: absolute;
  left: -75px;
  top: 43%;
  height: 3px;
  background-color: #FBBF24;
  transition: width 0.2s ease-in-out;
  width: 0;
} 

.menuItem:hover .activeIndicator {
  width: 40px;
  color: #FBBF24;
}
