.navContainer {
  width: 170px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
   position: relative;
   padding: 0 0 0 20px;
}

.menuLink {
  display: block;
  font-size: 14px;
  line-height: 3.5rem;
  color: #4B5563;
  text-decoration: none;
}

.menuLink:hover {
  color: #FBBF24;
}

.menuLink.active .activeIndicator{
  width: 60px;
}

.activeIndicator {
  position: absolute;
  left: -75px;
  top: 50%;
  height: 3px;
  background-color: #FBBF24;
  transition: width 0.2s ease-in-out;
  width: 0;
} 

.menuItem:hover .activeIndicator {
  width: 60px;
  color: #FBBF24;
}
