.bottomLinks {
  margin-right: 2.5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottomLinksItem {
  display: flex; 
  gap: 0.5rem; 
  line-height: 3rem;
}

.bottomLinksIcon {
  color: #6b7280;
}

.bottomLinksLink {
  text-decoration: none;
  color: #374151; 
  transition: color 0.2s; 
  font-size: 16px;
}

.bottomLinksLink:hover {
  color: #fbbf24; 
}
