/* Cart empty state */
.emptyFavorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.emptyFavorites h2 {
  margin: 2rem 0;
}

.starIcon {
  font-size: 6.25rem;
}

/* Cart layout */
.favoritesTableArea {
  margin: 8rem auto 0;
  padding-top: 3.75rem;
  padding-right: 6rem;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Product columns */

.col8 {
  flex: 0 0 67%;
  padding: 0 1rem;
}


/* Table styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.table img {
  max-width: 100%;
  height: auto;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #f5f7fa;
  font-size: 0.75rem;
  color: #242424;
  font-weight: 400;
  text-transform: capitalize;
}

.table td h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #242424;
  line-height: 1.3;
  margin: 0;
}



/* Button styles */
.removeBtn {
  margin-top: 4rem;
}


