* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'helveticaneuemedium';
    src: url("/fonts/helveticaneue_medium-webfont.woff2") format("woff2");
    font-weight: noraml;
    font-style: normal; }
body {
    font-family: 'helveticaneuemedium', sans-serif;
    
}