.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.notFound h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.notFound p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.notFound a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
